[user]
	email = serenomdominguez@gmail.com
	name = Sereno Dominguez
	signingkey = .ssh/id_ed25519.pub
[credential "https://github.com"]
	helper = 
	helper = !/etc/profiles/per-user/ser/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/etc/profiles/per-user/ser/bin/gh auth git-credential
[commit]
	gpgsign = true
